@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");



h1 {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: Monoton, cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 5s infinite;
}

 

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background: radial-gradient(ellipse at bottom, pink -50%, #030617 100%);
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index:500;
  font-size: calc(10px + 2vmin);
  color: beige;
}

.App-link {
  color: #09d3ac;
}

.outer_box {
  border:4px solid orange;
  width:60%;
  height:50%;
  align-items: center;
  padding:15px 15px;
  border-style: double;
  border-radius: 16px;
  box-shadow:  0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.place {
  font-size: 14px;
  text-align:center;
  border:2px solid cyan;
  border-radius: 8px;
  padding:15px 15px;
  width:17%;
  color:black;
font-weight: bold;
}
.a1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.place_d {
  font-size: 18px;
  text-align:center;
  border:2px solid cyan;
  border-radius: 8px;
  padding:25px 15px;
 margin-top: 3%;
  width:17%;
  cursor: pointer;
  color:black;
  font-weight: bold;

  
}

.popup{
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    
    font-size: 300%;
  
    z-index:1000;
    width:100%;
}

@media only screen and (max-width: 768px) {
    .place_d {
      font-size: 18px;
  text-align:center;
  border:2px solid cyan;
  border-radius: 8px;
  padding:15px 15px;
 margin-top: -7%;
  width:17%;
  cursor: pointer;
  color:black;
  font-weight: bold;
  
    }
}


@media only screen and (max-width: 376px) {
  .place{
    font-size: calc(3px + 2vmin);
  text-align:center;
  border:2px solid cyan;
  border-radius: 8px;
  padding:15px 15px;
  width:17%;
  font-weight: bold;
  }

  .place_d {
    font-size: calc(5px + 2vmin);
  text-align:center;
  border:2px solid cyan;
  border-radius: 8px;
  padding:15px 15px;
 margin-top: -7%;
  width:23%;
  cursor: pointer;
  color:black;
  font-weight: bold;
    
  
}
}

